"use strict";

let login = "login";
let password = "password";
let main_address = "https://my_course.fr";
let course_name = "Course name";

module.exports = { login, password, main_address, course_name };